/*
	StyleSheet based on design by David Herreman
	http: //www.free-css-templates.com
	Heavily edited by Student Robotics

This document is arranged into section for ease of use:
	Overall - general and site-wide style
	Top - the header section of the website
	Login - formatting of login boxes
	Main - main body of website
	Navigate - logged in context menu
	Primary menu - main menu, publicly available
	Right sidebar - not currently in use
	Footer - credits
	Content - content formatting
*/


/* OVERALL */

body,div,ul,ol,li,pre,blockquote,img,form,a {
	margin: 0;
	padding: 0;
}
html {
	background-color: #636363;
}
body {
	font: .74em Arial, sans-serif;
	line-height: 1.5em;
}
#outer {
	margin: 0 2%;
}
h1 {
	font: bold 1.8em Arial, Sans-Serif;
	padding: 8px 0 4px 0;
	margin: 0;
	letter-spacing: -1px;
}
h2 {
	font: bold 1.6em Arial, Sans-Serif;
	letter-spacing: -1px;
}
h3 {
	padding: 4px 0;
	margin:  0;
}
a {
	color: #253571;
	background: inherit;
}
a:hover {
	color: red;
	background: inherit;
	text-decoration: underline;
}
ul, ol {
	list-style-position: inside;
}


/* TOP */

#top {
	margin-top: -1px;
	background: #253571 url(images/footer.png) repeat scroll 50% 50%;
	color: #FFFFFF;
	overflow: hidden;
}
#banner {
	height: 94px;
	background-color: #DFDBD8;
	background-image: url('images/sr_swoosh.jpg');
	background-position: right;
	background-repeat: no-repeat;
}
#header {
	text-align: right;
}
#navigation-menu {
}
#navigation-menu ul {
	padding: 7px;
	margin: 0;
}
#navigation-menu ul li {
	display: inline;
	font-size: 1.35em;
}
#navigation-menu ul li a {
	color: white;
	text-decoration: none;
}
#navigation-menu ul li a:hover {
	color: red;
	text-decoration: none;
}


/* LOGIN */

#user-login-form {
	width: 100%;
	padding: 0.5em 0;
	text-align: right;
	color: #FFFFFF;
}
#block-user-0 h2,
#user-login-form div div.item-list {
	display: none;
}
#user-login-form label,
#user-login-form input,
#edit-name-wrapper,
#edit-pass-wrapper {
	margin-right: 0.6em;
	display: inline;
	font-weight: normal;
	vertical-align: middle;
}
#edit-name,
#edit-pass {
	border: none;
}


/* MAIN */

#main {
	background-color:#FFFFFF;
	padding: 0 0.5em 1em 0.5em;
}
.breadcrumb {
	background-color: lime; /* debug line: to be changed */
}
.messages {
	background-color: pink; /* debug line: to be changed */
}
.status {
	background-color: red; /* debug line: to be changed */
}


/* NAVIGATE MENU */

#navigate ul li {
	line-height: 26px;
	background: #F6F6F6 url('images/li-line.gif') no-repeat bottom left;
	list-style: none;
}
#navigate a {
	padding-left: 25px;
	font:  0.9em Arial, Sans-Serif;
	text-decoration: none;
	background: #F6F6F6 url('images/lm-li.gif') no-repeat left;
}


/* PRIMARY MENU */

#sidebar-left {
        float: left;
	background-color: aqua; /* debug line: to be changed */
	margin: 0 1em 1em 0;
}
#pri-menu {
	font-size: 1.2em;
	display: block;
	padding: 0.5em;
	background-color: #DFDBD8;
	border-style: none solid solid solid;
	border-color: #253571;
}
#pri-menu a {
	text-decoration: none;
}


/* RIGHT SIDEBAR */

#sidebar-right {
	float: right;
}


/* FOOTER */

#footer {
	font-family : Verdana, Geneva, Arial;
	color : #fff;
	font-size : 0.8em;
	font-weight : normal;
	border-top : 1px solid #ffffff;
	text-align: center;
	padding : 8px 0;
	background : #253571 url('images/footer.png') 50%;
}
#footer a {
	color: #FFFFFF;
	background-image: none;
}
#footer a:hover {
	color: red;
}

.right {
	text-align: right;
}


/* CONTENT */

.tabs {
}
