/*
	StyleSheet based on design by David Herreman
	http: //www.free-css-templates.com
	Heavily edited by Student Robotics

This document is arranged into section for ease of use:
	Overall - general and site-wide style
	Top - the header section of the website
	Login - formatting of login boxes
	Secondary menu - logged in service menu
	Main - main body of website
	Navigate - navigate menu
	Old Navigate - DEPRICATED
	Primary menu - main menu, publicly available
	Right sidebar - not currently in use
	Footer - credits
	Content - content formatting
*/


/* OVERALL */

body,div,ul,ol,li,pre,blockquote,img,form,a {
	margin: 0;
	padding: 0;
}
html {
	background-color: #636363;
}
body {
	font: .74em Arial, sans-serif;
	line-height: 1.5em;
	color: #000000;
	text-align:center;
}
#outer {
	width:900px;
	display: block;
	text-align: left;
	margin: auto;
}
h1, h2, h3 {
	color: #253571;
}
h1 {
	font: bold 1.8em Arial, Sans-Serif;
	padding: 8px 0 4px 0;
	margin: 0;
	letter-spacing: -1px;
}
h2 {
	font: bold 1.6em Arial, Sans-Serif;
	letter-spacing: -1px;
}
h3 {
	padding: 4px 0;
	margin:  0;
}
a, a:active {
	color: #253571;
	background: inherit;
}
a:hover {
	color: red;
	background: inherit;
	text-decoration: underline;
}
ul, ol {
	list-style-position: inside;
}
.left {
        float: left;
}
.right {
        float: right;
}


/* TOP */

#top {
	float: left;
	width: 100%;
	margin-top: -1px;
	background-color: #253571;
	/* background: #253571 url(images/footer.png) repeat scroll 50% 50%; */
	color: #FFFFFF;
	overflow: hidden;
}
#banner {
	float: left;
	width: 100%;
	height: 94px;
	background-color: #DFDBD8;
	background-image: url('images/sr_swoosh.jpg');
	background-position: right;
	background-repeat: no-repeat;
}
#header {
	width: 100%;
	text-align: right;
}


/* LOGIN */

#user-login-form {
	width: 100%;
	padding: 0.5em 0;
	text-align: right;
	color: #FFFFFF;
}
#block-user-0 h2,
#user-login-form div div.item-list {
	display: none;
}
#user-login-form label,
#user-login-form input,
#edit-name-wrapper,
#edit-pass-wrapper {
	margin-right: 0.6em;
	display: inline;
	font-weight: normal;
	vertical-align: middle;
}
#edit-name,
#edit-pass {
	border: none;
}


/* SECONDARY MENU */

#block-menu-secondary-links h2 {
	display: none;
}
#block-menu-secondary-links ul {
	padding: 7px;
	margin: 0;
	text-align: right;
}
#block-menu-secondary-links ul li {
	display: inline;
	font-size: 1.35em;
}
#block-menu-secondary-links ul li a {
	color: white;
	text-decoration: none;
}
#block-menu-secondary-links ul li a:hover {
	color: red;
	text-decoration: none;
}

/* SWITCHBOARD MENU */

#switchboard {
	width: 800px;
	margin: 0 auto;
}
#switchboard img {
	width: 112px;
	height: 112px;
}
#switchboard ul {
	padding: 7px;
	margin: 0;
}
#switchboard ul li {
	text-align: center;
	display: block;
	height: 140px;
	width: 130px;
	float: left;
	font-size: 1.35em;
}
#switchboard ul li p {
	margin: 1px 0;
}
#switchboard ul li a {
	text-decoration: none;
}
#switchboard ul li a:hover {
	color: red;
}


/* MAIN */

#main {
	float: left;
	width: 100%;
	background-color:#FFFFFF;
	padding-bottom: 1em;
	border-style: solid none none none;
	border-color: #253571;
}
#content {
	padding: 0 0.5em;
}
.breadcrumb {
	/* background-color: lime; */
}
.messages {
	background-color: pink; /* debug line: to be changed */
}
.status {
	background-color: red; /* debug line: to be changed */
}
.node, .comment-preview, #comments, #switchboard {
	margin: 0px 20px 0px 220px;
}

/* NAVIGATE MENU (across the top bar, in place of the login) */

#navigation-menu {
}
#navigation-menu ul {
	padding: 7px;
	margin: 0;
}
#navigation-menu ul li {
	display: inline;
	font-size: 1.35em;
}
#navigation-menu ul li a {
	color: white;
	text-decoration: none;
}
#navigation-menu ul li a:hover {
	color: red;
	text-decoration: none;
}

/* PRIMARY MENU */

#sidebar-left {
        float: left;
	background-color: #DFDBD8;
	margin: 0 1.5em 1.5em 0;
	/* border right */
        background-image: url('images/pri-menu_dot.png');
	background-repeat: repeat-y;
	background-position: top right;
	width: 200px;
}
#sidebar-left-inner0 {
        /* border left */
        background-image: url('images/pri-menu_dot.png');
	background-repeat: repeat-y;
	background-position: top left;
}
#sidebar-left-inner1 {
        /* border-bottom */
        background-image: url('images/pri-menu_dot.png');
	background-repeat: repeat-x;
	background-position: bottom left;
}
#sidebar-left-inner2 {
        /* border bottom right corner */
        background-image: url('images/pri-menu_br.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}
#sidebar-left-blcorner {
        /* border bottom left corner */
        width: 13px;
	height: 13px;
	background-image: url('images/pri-menu_bl.png');
	background-repeat: no-repeat;
	background-position: bottom left;
}
#block-menu-primary-links h2 {
	display: block;
}
#block-menu-primary-links ul {
	font-size: 1.2em;
	display: block;
	padding: 0.5em 0.6em 0 0.6em;
}
#block-menu-primary-links ul li {
	display: block;
	list-style-type: none;
	list-style-position: outside;
	background-image: url('images/pri-menu_arrow-dark.png');
	background-repeat: no-repeat;
	background-position: 0em 0.3em;
	vertical-align: middle;
	padding-top: 0.2em;
	padding-left: 15px;
}
#block-menu-primary-links ul li:hover {
	background-image: url('images/pri-menu_arrow.png');
}
#block-menu-primary-links a {
	text-decoration: none;
	background-image: none;
}
.block-menu, .block-user {
	margin-top: 10px;
}

.block-user ul {
	font-size: 1.2em;
	padding: 0.5em 20px 0;
}

#sidebar-left h2 {
	margin: 0 0.5em;
}
#block-menu-primary-links ul li.expanded ul.menu{
	font-size: 1em;
	padding: 0em 0em 0em 1em;
	margin: 0em;
}
#block-menu-primary-links ul li.expanded ul.menu li.leaf {
	background-image: none;
	padding: 0em;
	margin: 0.2em 0 0.2em 0;;
}

/* RIGHT SIDEBAR */

#sidebar-right {
	float: right;
}


/* FOOTER */

#footer {
	float: left;
	width: 100%;
	font-family : Verdana, Geneva, Arial;
	color : #fff;
	font-size : 0.8em;
	font-weight : normal;
	border-top : 1px solid #ffffff;
	text-align: center;
	padding : 8px 0;
	background : #253571 url('images/footer.png') 50%;
}
#footer a {
	color: #FFFFFF;
	background-image: none;
}
#footer a:hover {
	color: red;
}

.right {
	text-align: right;
}

/* Gallery */
#imagegallery{
	background:#F2F2F2;
	padding:10px;
	width:500px;
	height:420px;
	overflow: hidden;
	clear: left;
}

#items{
	float: left;
	width: 75px;
	height: 100%;
	border: 1px solid #DFDFDF;
	background:white;
}
#items .item {
	float: left;
	padding:5px;
	position: relative;
	width: 52px;
	height:52px;
	margin: 5px;
	background-color: #fff;
	cursor: pointer;
	border: 1px solid white;
}
#items .item:hover{border: 1px solid #ddd;}
#items .item img {
	width:50px;
	max-height:35px;
}

#large{
	border: 1px solid #DFDFDF;
	width: 420px;
	height: 100%;
	margin-left:0px;
	background-color: #fff;
	text-align:center;
	font-family:Arial, Times, san-serif;
	font-size:12px;
	overflow:hidden;
}
#large .info{
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
	padding:5px;
	color:#253571;
}
#items  p{display:none;}
#large .item {
	margin-top:10px;
	margin-bottom:10px;
	border-width: 1px;
	cursor: default;
	text-align:center;
}
#large .item img{
	max-width:400px;
	max-height: 400px;
}
/*static gallery */
.static-gallery{
	clear: left;
	width: 500px;
	border: 10px solid #F2F2F2;
	background:white;	
	overflow:hidden;
	text-align:center;
	display:block;
}
.static-gal-image{
	display: block;
	padding:5px;
	position: relative;
	margin: 5px;
	background-color: #fff;
	border: 1px solid #F2F2F2;
}
.static-gal-image img{
	height: 100px;
}
.static-gal-image p{
	background: #F2F2F2;
	display: block;
}
/* picture format */
.right-just-img{
	width:210px;
	border: 1px solid #F2F2F2;
	padding: 5px;
	text-align: center;
	display: block;
	float: right;
}
.right-just-img img{
	width:200px;
}
/* Publically visible Documentation page formatting */
#docs
{
	width: 500px; 
	border: 10px solid #F2F2F2; 
	display:block; 
	overflow: hidden; 
	padding:0px;  
	margin:0px; 
	text-align:center;
}
.doc-title
{
	display: block; 
	border: 2px solid #F2F2F2; 
	margin:2px; 
	padding:0px; 
	text-align:left;
}
.doc-title a, .doc-title b, .doc-title i
{
	margin-left:10px;
}
#edit-search-block-form-1-wrapper {
        padding-left: 10px;
}
.form-text{
	margin-left:10px;
	color:#253571;
	font-weight: bold;
}
.form-submit{
	margin-left: 10px;
	color: #253571;
	font-weight: bold;
}
