#admin-page {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	display: none;
}
#admin-page strong {
	font-size: 1.1em;
}

#teams-table {
	border-collapse: collapse;
	margin: 0 10px;
}
#teams-table tr {
	height: 30px;
}
#teams-table tr.even {
	background-color: #eee;
}
#teams-table th {
	text-align: left;
	padding-right: 7px;
}
#teams-table td {
	padding-left: 5px;
}
#teams-table td.name {
	width: 185px;
}
#teams-table td.name input {
	margin-left: -3px;
	width: 180px;
}
