#filemenu {
	margin-bottom: 5px;
	padding:5px 0 5px 0;
	width: 100%;
	background-color:#DFDBD8;
	overflow:auto;

}

#filemenu ul {
	white-space:nowrap;
	list-style-type:none;
	padding: 0;
	margin: 0;
}

#filemenu ul li{
	display: inline;
}
#filemenu li button{
	padding: 0.2em 1em;
	margin-right: 0.2em;
	float: left;
	font-weight: bold;
	text-decoration: none;
}
#tab-filename {
	color: #000000;
	float:left;
	padding-top: 5px;
	margin-right: 0.2em; 
	font-family: 'Courier New';
	font-size: 1.2em;
	min-width: 300px;
	overflow:hidden;
	text-align:center;	
}
#filemenu select {
	margin-right: 0.2em;	
	float:right;
}
#codebox {
	width:100%;
	margin:0px;
	padding:0px;
	border:0px;
	height: 30em;
}
