#errors-page {
	width: 100%;
	display: none;
}

#errors-listing li{
	list-style-type: decimal;
	background-color: #DFDBD8;
	font-family: monospace;
	padding: 0.8em;
	margin: 0.8em;
	white-space:pre;
}
