#switchboard-page {
	width: 100%;
	display: none;
}

#message-list {
	width: 50%;
	background-color: #EEEEEE;
	border: 1px solid #000000;
	list-style-type: none;
	margin:0px;
	padding:0px;
}

#message-window li {
	background-color:#FFFFFF;
	width: 100%;
}

#message-window ul{
	list-style-type: none;
	margin:0px 0px 0px 1em;
	padding:0px;
	font-size: 15px;
}

#message-window a:visited, #message-window a:active, #message-window a:link, #message-window a:hover {
	text-decoration: none;
	font-weight: bold;
	color: blue;
}

#timeline-list {
	margin: 10px;
	padding: 0px;
	list-style-type: none;
	list-style-image: none;
}

#timeline-list li{
	display: inline;	
	width: 100px;
	color: #ffffff;
	padding:2px 5px 2px 5px;
}

.timeline-past {
	background-color: yellow;
}

.timeline-present{
	background-color: red;
}
.timeline-future {
	background-color: green;
}

#timeline-bar-out {
	width: 500px;
	border: 1px solid gray;
	padding:0px 5px 0px 0px; 
	background: #ffffff;
	overflow: hidden;
}

#timeline-bar-in {
	border: 0px;
	margin: 0px;
	background: #87ED87;
	height: 20px;
}

.timeline-bar-event {
	width: 5px;
	border: 0px;
	margin:0;
	padding: 0px;
	background: #FF0000;
	height: 20px;
	position: absolute;
	cursor: pointer;
}

#timeline-window{
	width: 300px;
	border: 2px dashed #BBBBBB;
	padding: 5px;
}

#timeline-photo{
	width: 100%;
	border: 0px;
	padding: 0px;
}
