[i2c]
	# Device to use for I2C
	device = /dev/i2c-1

	# Whether to use checksums (this basically always has to be "yes")
	use_pec = yes

################################################################################
# What follows is a description of which I2C commands to use to flash
# each device.
# Each device has a section in this field starting with [DEVICENAME].
# Each of these sections must contain the following values:
#  * address: The address of the device in hex (can include '0x')
#  * cmd_fw_ver: Command to read firmware version
#  * cmd_fw_chunk: Command to send a chunk to the msp430
#  * cmd_fw_next: Command to read the next address that the msp430 expects  
#  * cmd_fw_crcr: Command to read the CRC of the firmware calculated on the MSP430
#  * cmd_fw_confirm: Command to confirm the firmware CRC

[motor]
	address = 0x12
	cmd_fw_ver = 4
	cmd_fw_chunk = 5
	cmd_fw_next = 5
	cmd_fw_crcr = 6
	cmd_fw_confirm = 6

[jointio]
	address = 0x14
	cmd_fw_ver = 5
	cmd_fw_chunk = 6
	cmd_fw_next = 6
	cmd_fw_crcr = 7
	cmd_fw_confirm = 7
