* {
	text-align: justify;
}

h1:first-child, center {
	text-align: center;
}

pre {
	border:1px solid #D7D7D7;
	margin: 1em 1.75em;
	padding: 0.25em;
}

img {
	margin:0.5em;
}

h2 {
	background-color:#eeeeee;
}
