body
{
 background-color: rgb(223,219,215);
 margin: 0;
 font-family: sans;
 color: rgb(13,31,97);
}

#header
{
 width: 100%;
 text-align: center;
}

#header table {
 width: 100%;
}

#logocell {
 text-align: center;
 width: 150px;
}
#logocell img
{
 padding: 10px;
}

.page, .title { display:none; }

.realpage {
 width: 100%;
}

#time {
 font-size: 200%;
 width: 6ex;
 padding-right: 10px;
 text-align: right;
}

#titlecell {
 font-size: 200%;
 text-align: center;
}

/* Styles of things within pages */
.realpage {

}


/* Upcoming Matches */

#upcoming_matches table {
 border-style: none;
 border-spacing: 0;
 width: 100%;
}

#upcoming_matches td, #upcoming_matches th {
 border-style: solid;
 border-width: 2px;
 text-align: center;
}

#upcoming_matches table th {
 font-weight: bold;
}

/* Schedule slide */
#schedule td:first-child {
 font-weight:bold;
 text-align: right;
 padding-right: 1em;
}
#schedule table {
width:*;
}
#schedule table td {
 text-align: left;
 border: none;
}