#log-mode { display: none;}

#logmenu {
	margin-bottom: 5px;
	padding:5px 0 5px 0;
	width: 100%;
	background-color:#DFDBD8;
	overflow:auto;
	display:block;
}

#logmenu ul {
	white-space:nowrap;
	list-style-type:none;
	padding: 0;
	margin: 0;
}

#logmenu ul li{
	display: inline;
}
#logmenu ul li div{
	padding: 0 10px 0 10px;
	font-size: 1.2em;
}
#logmenu li button, #logmenu li select{
	padding: 0.2em 1em;
	margin-right: 0.2em;
	float: left;
	font-weight: bold;
	text-decoration: none;
}
#logmenu li.log-user{
	float: right;
}
#logmenu li.log-user #svn-users {
    width: 200px;
    margin-left: 10px;
    margin-right: 25px;
}
#log-list  {
	display:block;
	background-color:#DFDBD8;
	list-style-type: none;
	padding: 0px;
	margin: 10px 0 0 0;
}
#log-list li {
	margin: 5px 0 5px 0;
	padding: 5px 0 5px 0;
	background-color:#eeeeee;
}
#log-list input {
	margin-right: 20px;
}
.commit-msg {
	margin:5px 5px 5px 100px;
	padding: 5px;
	background-color:#ffffff;
}
