body {
	margin: 0;
	padding: 0;
	color:#000000;
	font-family:Arial,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

#top {
	background-color:#253571;
	color:#FFFFFF;
	/* TODO: Internet explorer thing? */
	margin-top:-1px;
	overflow:hidden;
	width:100%;
	font-size: 1.35em;
}

#topright, #topleft {
	display: block;
	height: 1.5em;
}

#topright {
	float: right;
}

#topleft {
           float: left;
}
#top ul {
     display: inline;
}

#top ul li {
	display: inline;
	background-color:#253571;
}
#top ul li a {
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
	background-color: #253571;
	color: #ffffff;	
	margin-right: 20px;
}
#top ul li a:hover {
	background-color:#ffffff;
	color:#253571;
}
#tabs {
	padding:0;
	width: 100%;
	background-color:#253571;
	text-align:left;
	overflow:auto;
}

#tabs ul {
	white-space:nowrap;
	list-style-type:none;
	padding: 0;
	margin: 0.5em;
	font-size: 1.2em;
}

#tabs ul li{
	display: inline;
}

#tabs li a {
	padding: 0.2em 1em 0.2em 1em;
	margin-right: 0.2em;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #ffffff;
	color: #253571;
}
#tabs li a.focus { 	background-color: #ffffff; }
#tabs li a.nofocus { background-color: #DFDBD8; }

#tabs li a:hover { 
	background-color: #253571;
	color:#ffffff;	
}


#status{	
	margin-left: auto;	
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width:60%;
	padding: 7px 10px 7px 10px;
	display: block;
	font-size: 1.2em;
	text-align: center;
  	height: 1em;
}

#status.info{ background-color: #98ff4f; }
#status.ok { background-color: #98ff4f; }
#status.warn { background-color: #ffff31; }
#status.error { background-color: #ff5e5e; }

#page {
      width: 100%;
}

#projpage { 
  display: none;
}

/* CSS for edit-mode should be place in css/editmode.css */
/* CSS for file-mode should be place in css/filemode.css */

#grey-out {
	width: 100%;
	height: 100%;
	background-color:#C7C7C7;
	z-index: 10;
	position:absolute;
	display:none;
}

#popup {
	margin: 150px 25% 0 25%;
	padding: 20px;
	background-color: #253571;
	border: none;
	color: #ffffff;
	font-size: 1.5em;
	font-weight: bold;
}
#popup strong {
	display: block;
	font-family: arial;
}
#popup em {
	font-size: 0.7em;
}

#popup a {
	color:#ffffff;
	text-decoration: none;
	font-size: 0.7em;
}
#popup a:hover {
	color:#253571;
}
.login input {
	background-color: #ffffff;
	color: #253571;
	padding: 5px;
	display: block;
	border: none;
	margin: 10px 0 10px 0;
	width: 100%;
}
a.button {
	margin: 10px 25% 10px 25%;
	border: 2px solid #ffffff;
	padding: 2px 0 2px 0;
	font-weight:bold;
	cursor: pointer;
	text-align:center;
	display: block;
	color: #ffffff;
}
a.button:hover{
	color: #253571;
	background-color: #ffffff;

}
#edit-mode { 	text-align: center;}
