body {
	margin: 0;
	padding: 0;
	color:#000000;
	font-family:Arial,sans-serif;
	font-size:0.74em;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

#top {
	background-color:#253571;
	color:#FFFFFF;
	/* TODO: Internet explorer thing? */
	margin-top:-1px;
	overflow:hidden;
	width:100%;
	font-size: 1.35em;
}

#topright, #topleft {
	display: block;
	height: 1.5em;
}

#topright {
	float: right;
}

#topleft {
           float: left;
}
#top ul {
     display: inline;
}

#top ul li {
	display: inline;
	background-color:#253571;
}
#top ul li a {
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
	background-color: #253571;
	color: #ffffff;	
	margin-right: 20px;
}
#top ul li a:hover {
	background-color:#ffffff;
	color:#253571;
}
#tabs {
	padding:0;
	width: 100%;
	background-color:#253571;
	text-align:left;
	overflow:auto;
}

#tabs ul {
	white-space:nowrap;
	list-style-type:none;
	padding: 0;
	margin: 0.5em;
	font-size: 1.2em;
}

#tabs ul li{
	display: inline;
}
#tabs li a{
	padding: 0.2em 1em 0.2em 1em;
	margin-right: 0.2em;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #ffffff;
	background-color: #DFDBD8;
	color: #253571;
}
#tabs li a:hover { 
	background-color: #253571;
	color:#ffffff;
	
}

#status{	
	margin-left: auto;	
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: yellow;	
	width:60%;
	padding: 7px 10px 7px 10px;
	display: block;
	font-size: 1.2em;
	text-align: center;
}

/* #page { */
/*       width: 100%; */
/*       border-style: none; */
/* 	float: left; */
/* } */

#filemenu {
	margin-bottom: 5px;
	padding:5px 0 5px 0;
	width: 100%;
	background-color:#DFDBD8;
	overflow:auto;

}

#filemenu ul {
	white-space:nowrap;
	list-style-type:none;
	padding: 0;
	margin: 0;
}

#filemenu ul li{
	display: inline;
}
#filemenu li button{
	padding: 0.2em 1em;
	margin-right: 0.2em;
	float: left;
	font-weight: bold;
	text-decoration: none;
}
#filemenu li div.filename {
	color: #000000;
	float:left;
	padding-top: 5px;
	margin-right: 0.2em; 
	font-family: Courier New;
	font-size: 1.2em;
	min-width: 300px;
	overflow:hidden;
	text-align:center;	
}
#filemenu select {
	margin-right: 0.2em;	
	float:right;
}
#codebox {
	width:100%;
	margin:0px;
	padding:0px;
	border:0px;
	height: 30em;
}

#page {
      width: 100%;
}

#projpage { 
  width: 100%;
  display: none;
}

#edit-mode { /* display:none; */ }

#proj-sidebar { 
  float:left;
  width: 24em;
  border-style: none solid none none;
  border-color: #dfdbd7;
  border-width: 1px;
  margin-left: 1em;
}

#proj-options { 
  text-align: center;
}

#proj-options div { 
  text-align: left;
}

#proj-revselect { 
  border-style: solid none solid none;
}

#proj-fileops ul { 
  margin: 0;
  padding: 0.5em 0 0 2em;
}

#proj-fileops li { 
  list-style-type: none;
}

#proj-fileops li a { 
  text-decoration: none;
  color: black;
  display: block;
}

#proj-fileops li a:hover { 
  background-color: #253571;
  color: #ffffff;
}

#proj-filelist { 
  margin-left: 26em;
}

#proj-filelist li { 
  list-style-type: none;
}

#proj-filelist ul { 
  margin: 0;
  padding: 0;
}

#proj-filelist > ul { 
  padding-top: 1em;
  padding-left: 2em; 
}

.flist-l li a { padding-left: 1em; }

.flist-l div div { margin-left: 0.5em; }

#proj-filelist ul li a { 
  display: block;
  text-decoration: none;
  margin-right: 1em;
}

/* The vertical bar along the side of each directory */
#proj-filelist ul li a div { 
  border-style: none none none solid;
  border-width: 1px;
  border-color: #dfdbd7;
  padding-left: 1em;
}

#proj-filelist ul li a:hover { 
  background-color: #dfdbd7;
}

#proj-filelist ul li a:visited { 
  color: black;
}

#proj-filelist a.selected, #proj-filelist a.selected:visited  { 
  background-color: #253571;
  color: #ffffff;
}

#clearboth { clear: both; }
