/*
 * Quick mash-up of CSS for the TG quick start page.
 */

html, body, th, td {
  color: black;
  background-color: #ddd;
  font: x-small "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
  margin: 0;
  padding: 0;
}

a.link, a, a.active {
  color: #369;
}

#main_content {
    width: 100%;
    height: 100%;
}

#history {
    position: absolute;
    top: 0px;
    right: 0px;
}

#code_block {
  position: absolute;
  left: 250px;
  right: 0px;
}

ul.links {
    padding-top: 10px;
}

ul.links li {
    padding-bottom: 10px;
}

span.list_label {
    text-align: left;
}

span.list_box {
    text-align: right;
    float: right;
}

#fileselect {
    float: right;
}

#sidebar {
  border: 1px solid #aaa;
  background-color: #eee;
  margin: 0.5em;
  padding: 1em;
  float: left;
  width: 200px;
  height: 500px;
}

#sidebar h2 {
  margin-top: 0;
}

#sidebar ul {
  margin-left: 1.5em;
  padding-left: 0;
}

#tablist {
    padding: 3px;
    margin-left: 0px;
    border-bottom: 1px solid #778;
}

#tablist li {
    list-style: none;
    margin: 0;
    display: inline;
}

#tablist li a {
    margin-left: 7px;
}

#tablist li a.top {
    padding: 3px 0.5em;
    margin-left: 3px;
    border: 1px solid #778;
    border-bottom: none;
    background: #DDE;
    text-decoration: none;
}

#tablist li a:link { color: #448; }
#tablist li a:visited { color: #667; }

#tablist li a:hover
{
    color: #000;
    background: #AAE;
    border-color: #227;
}

#tablist li.newtab a
{
    color: black;
}

#tablist li.newtab a.tabx{
    visibility: hidden;
}

#tablist li.selected a
{
    background: white;
    border-bottom: 1px solid white;
}

#tablist li.dirty a
{
    font-style: italic;
}

#tablist li.changed a
{
    color: #F00;
}
