/*
 * Quick mash-up of CSS for the TG quick start page.
 */

html, body, th, td {
  color: black;
  background-color: #ddd;
  font: x-small "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
  margin: 0;
  padding: 0;
}

a.link, a, a.active {
  color: #369;
}

#main_content {
    width: 100%;
    height: 100%;
}

#history {
    position: absolute;
    top: 0px;
    right: 0px;
}

#code_block {
  position: absolute;
  left: 250px;
  right: 0px;
}

#sidebar {
  border: 1px solid #aaa;
  background-color: #eee;
  margin: 0.5em;
  padding: 1em;
  float: left;
  width: 200px;
  height: 500px;
}

#sidebar h2 {
  margin-top: 0;
}

#sidebar ul {
  margin-left: 1.5em;
  padding-left: 0;
}
