/*
 * Quick mash-up of CSS for the TG quick start page.
 */

html, body, th, td {
  color: black;
  background-color: #ddd;
  margin: 0;
  padding: 0;
  height: 100%;
}

a.link, a, a.active {
  color: #369;
}

#sidebar {
  border: 1px solid #aaa;
  background-color: #eee;
  margin: 0.5em;
  padding: 1em;
  float: left;
  width: 200px;
  height: 525px;
}

#feeds {
    text-align: center;
    margin-bottom: 1em;
}

#feeds button{
    margin-top: 0.5em;
}

#logo {
    margin-bottom: 1em;
}

#sidebar h2 {
  margin-top: 0;
}

#sidebar ul {
  margin-left: 1.5em;
  padding-left: 0;
}

#code_block {
    float: right;
}

html>body #code_block {
    float: none;
    margin-left: 270px;
}

#history {
    float: right;
}

#fulllog {
    background-color: white;
}

#fltable {
    width: 100%;
}

#fltablehead {
    font-size: x-large;
}

ul.links {
    padding-top: 10px;
}

ul.links li {
    padding-bottom: 10px;
}

span.list_label {
    text-align: left;
}

span.list_box {
    text-align: right;
    float: right;
}

#fileselect {
    float: right;
}



#tablist {
    padding: 3px;
    margin-left: 0px;
    border-bottom: 1px solid #778;
}

#tablistdiv {
    margin-top: 5px;
    width: 100%;
}

#tablist li {
    list-style: none;
    margin: 0;
    display: inline;
}

#tablist li a {
    margin-left: 7px;
}

#tablist li a.top {
    padding: 3px 3px 3px 3px;
    border: 1px solid #778;
    border-bottom: none;
    background: #DDE;
    text-decoration: none;
}

#tablist li a:link { color: #448; }
#tablist li a:visited { color: #667; }

#tablist li a:hover
{
    color: #000;
    background: #AAE;
    border-color: #227;
}

#tablist li.systemtab a
{
    color: black;
}

#tablist li.systemtab a.tabx{
    visibility: hidden;
}

#tablist li.selected a
{
    background: white;
    border-bottom: 1px solid white;
}

#tablist li.dirty a
{
    font-style: italic;
}

#tablist li.changed a
{
    color: #F00;
}
